#sign_up1
  .container
    .row
      .col-md-12.header
        h4= t 'register.create'
        = render "devise/shared/social"
      .col-sm-3.division
        .line.l
        span= t 'register.or'
        .line.r
      .col-md-12.footer
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-inline' }) do |f|
          = f.text_field :email, {class: "form-control", placeholder: t('register.email') }
          = f.password_field :password, { class: "form-control", placeholder: t('register.password') }
          = f.password_field :password_confirmation, { class: "form-control", placeholder: t('register.confirm') }
          = f.submit t('register.sign_up_btn')
          = devise_error_messages!