html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
  body
    h3
      | Добро пожаловать, #{@user.name}
    p
      | Ваш логин: #{ @user.email } &nbsp;&nbsp; Ваш Пароль: #{ @user.password }
    p
      | Для того чтобы зайти в свой виртуальный офис нажмите на ссылку и ведите логин и пароль: &nbsp;
      a href=@url Corpo System
      | &nbsp;&nbsp; После входа в систему обязательно смените пароль.