.col-md-4.social
  a.circle.facebook href=user_omniauth_authorize_path(:facebook)
    = image_tag "face.png"
  a.circle.facebook href==user_omniauth_authorize_path(:vkontakte) style="width:61px; height:61px; background:#577ca2;"
    = image_tag "social/vk.png", style: "margin-top:0px;"