= render partial: 'guides/base'
ol#joyRideTipContent style="display:none"
  li data-id="edit_link" data-button=@ntip
  	p #{@s} редактировать параметры менеджера.
  li data-id="admin_user_submit_action" data-button=@ntip
  	p #{@s} обновить данные менеджера, при ошибке в полях следуйте рекомендациям которые написаны красным тестом.
  = render partial: 'guides/manager/header_guide'
