li data-id="admin_users" data-button=@ntip
  p #{@s} редактировать аккаут менеджера
li data-id="blogs" data-button=@ntip
  p #{@s} создать и редактировать виртуальный офис менеджера.
li data-id="logout" data-button=@ntip
  p #{@s} выйти из панели администрирования и зайти под другим именем и паролем.



