section#feature_slider.lol
  article#showcasing.slide style=="background: url(#{background_img 'backgrounds/landscape.png'}) repeat-x top center;"
    = image_tag('slides/windows/1.jpg', style: 'top: 300px', class: 'asset left-30 sp600 t120 z1', size: "500x300")
    .info
    /  h2=t('slider.scene1.info')
  article#ideas.slide style="background: url(#{background_img 'backgrounds/aqua.jpg'}) repeat-x top center;"
    .info
    /  h2=t('slider.scene2.info')
    = image_tag('slides/windows/2.jpg', class: 'asset left-480 sp600 t260 z1' , size: "200x200")
    = image_tag('slides/windows/3.jpg', class: 'asset left-210 sp600 t213 z2' , size: "200x200")
    = image_tag('slides/windows/4.jpg', class: 'asset left-60 sp600 t260 z1' , size: "200x200")
  article#tour.slide style="background: url(#{background_img 'backgrounds/color-splash.jpg'}) repeat-x top center;"
    = image_tag('slides/windows/7.jpg', class: 'asset left-185 sp550 t220 z1', size: "275x185")
    = image_tag('slides/windows/6.jpg', class: 'asset left-365 sp600 t270 z4', size: "275x185")
    = image_tag('slides/windows/5.jpg', class: 'asset left-472 sp650 t210 z3', size: "275x185")
    = image_tag('slides/windows/8.jpg', class: 'asset left-350 sp450 t135 z2' , size: "275x185")
    .info
    /  h2=t('slider.scene3.info')
  article#responsive.slide style="background: url(#{background_img 'backgrounds/indigo.jpg'}) repeat-x top center;"
    = image_tag('slides/scene4/html5.png', class: 'asset left-472 sp600 t120 z3')
    = image_tag('slides/scene4/css3.png', class: 'asset left-190 sp500 t120 z2')
    .info
    /  h2 ==t('slider.scene3.info')