= render 'home/slider'
#showcase
  .container
    .section_header
      h3 Наши сервисы
    .row.feature_wrapper
      .features_op1_row
        .col-sm-4.feature.first
          .img_box
            /a href="services.html"
            = image_tag('services/1.jpg', size: "287x165")
          .text
            h6 Разработка окон под заказ.
            p
          /    | There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
        .col-sm-4.feature
          .img_box
            /a href="services.html"
            = image_tag('services/2.jpg', size: "287x165")
          .text
            h6 Доставка и установка входит в стоимость.
            p
            /  | There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
        .col-sm-4.feature.last
          .img_box
            /a href="services.html"
            = image_tag('services/3.jpg', size: "287x165")
          .text
            h6 Гарантийное обслуживание.
            p
            /  | There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
/#clients
/  .container
/    .section_header
/      h3 Clients
/    .row
/      .col-md-2.col-sm-4.client
/        .img.client1
/      .col-md-2.col-sm-4.client
/        .img.client2
/      .col-md-2.col-sm-4.client
/        .img.client3
/      .col-md-2.col-sm-4.client
/        .img.client1
/      .col-md-2.col-sm-4.client
/        .img.client2
/      .col-md-2.col-sm-4.client
/        .img.client3