div.user_agreement
  h2 Соглашение об использовании информационного сайта «KORPO-SYSTEM»
  p  Настоящее Соглашение разработано в целях урегулирования отношений между администрацией компании «KORPO-SYSTEM» и любым лицом, осуществляющим использование функциональных возможностей, инструментов и служб сайта «KORPO-SYSTEM».
  p  Пройдя процедуру авторизации на данном сайте или любым иным способом используя функциональные возможности, инструменты сайта, пользователь гарантирует, что ознакомлен с условиями Соглашения, а также, полностью принимает условия настоящего Соглашения.
  p Сайт «KORPO-SYSTEM» не является средством массовой информации, Администрация данного  ресурса  не несёт ответственность за содержание размещенной информации.
  p Сайт «KORPO-SYSTEM» является информационным сайтом и не несет ответственности за правоотношения, которые могут возникнуть либо возникли между Пользователями, которые разместили рекламную информацию о продукции, и другими Пользователями, которые воспользовались данной информацией.
  p Ответственность за несанкционированное копирование и использование информации несут все юридические и физические лица, неправомочно использовавшие информацию, размещенную на Сайте.
  p Пользователь предупрежден об установленной действующим законодательством Украины ответственности за неправомерное использование и размещение чужих материалов (произведений). В случае, если будет установлено, что разместивший информацию о материалах Пользователь, не является их  законным правообладателем, эта информация будет изъята из свободного доступа по первому требованию законного правообладателя.
  p Пользователь, который использует Калькулятор цен, согласен с тем, что Калькулятор цен не гарантирует точную цену и носит только информативный характер.
  h3 Стороны соглашения:
  p Администрация сайта  и  лицо, размещающее информацию на данном ресурсе, в дальнейшем Пользователь, заключили настоящее Соглашение о нижеследующем.

  h3 Предмет Пользовательского соглашения:
  p Владелец сайта «KORPO-SYSTEM» предлагает Пользователю свой сервис «KORPO-SYSTEM»  на условиях, являющихся предметом настоящего Пользовательского соглашения.

  h3 Права и обязанности сторон:
  h4 Пользователь имеет право:
  ul
    li свободно осуществлять поиск, получение информации  на Сайте любым законным способом;
    li комментировать предоставленную иными Пользователями информацию;
    li осуществлять иные действия с соблюдением установленных Администрацией Правил.
  h4 Администрация имеет право:
  ul
    li создавать, изменять, отменять Соглашение без предварительного уведомления Пользователя;
    li ограничить доступ к любой информации, размещённой Пользователем; удалить информацию, размещённую Пользователем;
    li отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена за нарушение условий Соглашения.
  h4 Пользователь обязуется:
  ul
    li не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также, другой информации, за распространение   которой предусмотрена уголовная или административная ответственность;
    li не нарушать работоспособность сайта путём размещения информации, содержащей вирусы, создания дополнительной нагрузки на сервер, применением программ, не обусловленных функциональным содержанием информационного ресурса и иными способами.
    li не использовать материалы, которые нарушают права на какой-либо патент, торговую марку, коммерческую тайну, копирайт или прочие права собственности, авторские и смежные с ним права третьей стороны;
  h4 Администрация обязуется:
  ul
    li обеспечивать бесперебойную работу Сайта, однако Администрация не несет ответственности за полную или частичную утрату Материалов, размещаемых Пользователем.
    li в случае размещения Пользователем информации, распространение которой ограничено или запрещено действующим законодательством, применить соответствующие меры.
    li предоставить всю доступную информацию о  Пользователе уполномоченным  органам государственной власти в случаях, установленных законодательством.
  h4 Администрация не несет ответственности:
  ul
    li за действия Пользователя на Сайте;
    li за сбои, возникающие в телекоммуникационных или энергетических сетях, действие вредоносных программ, а также за недобросовестные действия третьих лиц;
    li за содержание и законность Информации, получаемой Пользователем в рамках Сервиса, а также за ее характер;
    li за ущерб или упущенную выгоду, причиненные Пользователю в результате использования или невозможности использования того или иного сервиса;
    li за достоверность рекламной информации, получаемой Пользователем в рамках сервиса, и качество рекламируемых в ней товаров и услуг.
    li за какие-либо повреждения программного или аппаратного комплекса Пользователя, возникшие в результате пользования сервисом.
  p Пользователь обязуется компенсировать убытки Владельца данного интернет-ресурса или третьих лиц, причиненные вследствие нарушения Пользователем условий действующего законодательства Украины или условий настоящего Пользовательского соглашения.
  h3 Конфиденциальность:
  p Принимая настоящее Соглашение, Пользователь подтверждает свое согласие на обработку Администрацией его персональной информации (в том числе личной информации и персональных данных).
  p Администрация осуществляет обработку информации пользователя любыми способами с целью надлежащего предоставления Пользователю услуг (идентификация, аутентификация, передача информационных материалов по подписке пользователя, ответы на запросы и письма пользователя, а также другие действия, время от времени необходимые для надлежащего предоставления услуг).
  p Пользователь имеет все права по защите его персональной информации, предусмотренные действующим законодательством Украины, в частности, Законом Украины «О защите персональных данных».
  p Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством по требованию суда, правоохранительных органов, или других, предусмотренных действующим законодательством, случаях.

  h3 Время и условия действия Соглашения:
  p Пользователь вправе отказаться от принятия изменений и дополнений к Соглашению, производимых Администрацией, что означает отказ Пользователем от сервисов Сайта.
  p Все возможные споры, возникающие в связи с выполнением настоящего Соглашения, разрешаются согласно нормам действующего законодательства Украины.
  p
    | Настоящее соглашение вступает в силу с момента его публикации по адресу: &nbsp;
    a href="http://corpo-system.com.ua/user_agreement"
      | http://corpo-system.com.ua/user_agreement
    | &nbsp; на неопределённый срок.
