upstream <%= fetch(:application) %> {
  server unix:///<%= fetch(:deploy_to) %>/shared/sockets/puma.sock;
}

server {
  listen 80;
  server_name <%= fetch(:domain) %>;
  root <%= fetch(:deploy_to) %>/current/public;

  location / {
    proxy_pass http://<%= fetch(:application) %>;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}