user <%= fetch(:user) %>;

worker_processes  1;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    default_type  application/octet-stream;
    access_log  /var/log/nginx/access.log;
    sendfile        on;
    keepalive_timeout  65;
    tcp_nodelay        on;
    gzip  on;
    server_names_hash_bucket_size 128;
    client_max_body_size 4M;
    client_body_buffer_size 128k;
    include /etc/nginx/sites-enabled/*;
}