#!/usr/bin/env puma
directory '<%= fetch(:deploy_to) %>/current'
environment 'production'
daemonize true
pidfile '<%= fetch(:deploy_to) %>/shared/pids/puma.pid'
bind 'unix://<%= fetch(:deploy_to) %>/shared/sockets/puma.sock?umask=0777'

stdout_redirect '<%= fetch(:deploy_to) %>/shared/log/puma.stdout.log', '<%= fetch(:deploy_to) %>/shared/log/puma.stderr.log'

threads 0, 16

# on_restart do
# end

on_worker_boot do
  ActiveSupport.on_load(:active_record) do
    ActiveRecord::Base.establish_connection
  end
end