= render partial: 'guides/base'
ol#joyRideTipContent style="display:none"
  li data-id="admin_users" data-button=@ntip
    p #{@s}
  li.custom data-class="edit_link"  data-text=@ntip
    p  #{@s} редактировать имя, электронную почту и пароль своего аккаунта менеджера.
  li data-id="blogs" data-button=@ntip
    p #{@s} создать и редактировать виртуальный офис менеджера.