#sign_in1
  .container
    .row
      .col-md-12.header
        h4=t 'register.log_in'
        = render "devise/shared/social"
      .col-sm-3.division
        .line.l
        span=t 'register.or'
        .line.r
      .col-md-12.footer
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline' }) do |f|
          = f.text_field :email, {class: "form-control", placeholder: t('register.email') }
          = f.password_field :password, { class: "form-control", placeholder: t('register.password') }
          = f.submit t('register.sign_in_btn')
      .col-md-12.proof
        .col-md-6.remember
          label.checkbox
            input type="checkbox"
              #{t 'register.remember'}
          a href="reset.html"
        .col-md-6
          .dosnt
            span
              = link_to  t('register.no_account'), new_user_registration_path