.comment
  .row
    .col-sm-2
      = image_tag(comment.user.avatar_or_no_user_url, { class: "img-circle author_pic", size: "50x50" })
    div.col-sm-10
      .name
        #{comment.user.name}
        a.reply href="#"
      .date
        #{l comment.created_at, format: :long}
      .response
        = comment.comment