.new_comment
  h4= t('comment.add')
  = form_tag(comments_blog_path([@blog.id])) do |f|
    .row
      .col-sm-12
        textarea.form-control placeholder=t('comment.comments') rows="7" name='comment[comment]'
    .row
      .col-sm-12
        = submit_tag t('comment.add'), class: "btn send"