coffee:
  [lat, long] = $('.office-lat-long').data('cord').split(',')
  map = ""
  TILE_SIZE = 256;
  chicago = new google.maps.LatLng(lat, long);
  bound = (value, opt_min, opt_max) ->
    value = Math.max(value, opt_min) if (opt_min != null)
    value = Math.min(value, opt_max) if (opt_max != null)
    value
  degreesToRadians = (deg) ->
    deg * (Math.PI / 180)
  radiansToDegrees = (rad) ->
    rad / (Math.PI / 180);
  MercatorProjection = () ->
    this.pixelOrigin_ = new google.maps.Point(TILE_SIZE / 2, TILE_SIZE / 2)
    this.pixelsPerLonDegree_ = TILE_SIZE / 360
    this.pixelsPerLonRadian_ = TILE_SIZE / (2 * Math.PI)
  MercatorProjection.prototype.fromLatLngToPoint = (latLng, opt_point) ->
    me = this
    point = opt_point || new google.maps.Point(0, 0)
    origin = me.pixelOrigin_
    point.x = origin.x + latLng.lng() * me.pixelsPerLonDegree_;
    siny = bound(Math.sin(degreesToRadians(latLng.lat())), -0.9999, 0.9999)
    point.y = origin.y + 0.5 * Math.log((1 + siny) / (1 - siny)) * -me.pixelsPerLonRadian_
    point
  MercatorProjection.prototype.fromPointToLatLng = (point) ->
    me = this
    origin = me.pixelOrigin_
    lng = (point.x - origin.x) / me.pixelsPerLonDegree_
    latRadians = (point.y - origin.y) / -me.pixelsPerLonRadian_
    lat = radiansToDegrees(2 * Math.atan(Math.exp(latRadians)) -Math.PI / 2)
    new google.maps.LatLng(lat, lng)
  createInfoWindowContent = () ->
    numTiles = 1 << map.getZoom()
    projection = new MercatorProjection()
    worldCoordinate = projection.fromLatLngToPoint(chicago)
    pixelCoordinate = new google.maps.Point(worldCoordinate.x * numTiles, worldCoordinate.y * numTiles)
    tileCoordinate = new google.maps.Point( Math.floor(pixelCoordinate.x / TILE_SIZE), Math.floor(pixelCoordinate.y / TILE_SIZE))
    [
      $('.office-lat-long').data('desc')
      ""
    ].join('<br>');
  initialize = ()->
    mapOptions =
      zoom: 14,
      center: chicago
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    coordInfoWindow = new google.maps.InfoWindow();
    coordInfoWindow.setContent(createInfoWindowContent());
    coordInfoWindow.setPosition(chicago);
    coordInfoWindow.open(map);
    google.maps.event.addListener(map, 'zoom_changed', () ->
      coordInfoWindow.setContent(createInfoWindowContent());
      coordInfoWindow.open(map);
    )
  google.maps.event.addDomListener(window, 'load', initialize)
  google.maps.event.addDomListener(document, 'page:load', initialize)