.col-sm-4
  .post
    .img
      a href=blog_path(post)
        = image_tag(post.photo.photo, alt: post.photo.description, size: "360x300" ) if post.photo
    .text
      h5 = post.name
        a href='#'
      span.date=l post.created_at.to_date, format: :long
      p=post.description
    .author_box
      h6= "ЧП #{post.admin_user.try(:name)}"
    .author_box
      h6=link_to("Оконный Калькулятор", blog_calculator_path(post))