.sidebar_header
  h4=t "comment.recent"
- @comments.last(5).each do |c|
  .recent.comment
    span
      = image_tag(c.user.avatar_or_no_user_url	, size: "56x59")
    .name
      #{c.user.name}
      a.reply href="#"
    .date
      #{l c.created_at, format: :long}
    p= c.comment
