= form_tag blog_index_path, method: :get do
  = select_tag :q, options_for_select(City.all.collect{ |u| [u.name, u.id] }, selected: params[:q]), include_blank: true, onchange: "this.form.submit();", class: "form-control"