- content_for(:title)
  = "ЧП #{@blog.admin_user.try(:name)}"
#content
  #price_list data-price=@blog.price_lists_json
  #all_leafs.hide
    - Construction::LEAFS.each do |l|
      = image_tag image_to_base64("alt/#{l}.png"), { "class" => "img-responsive window_img", "data-type" => "window", "data-kind" => l }
    - Construction::DOORS.each do |l|
      = image_tag image_to_base64("alt/#{l}.png"), { "class" => "img-responsive door_img", "data-type" => 'door', "data-kind" => l }
- if @constructions.size > 0
  br
  #calc_left.col-md-9
    span: p.bg-primary  Нажми левым щелчком мыши на конструкцию для изменения конфигурации.
    br
    br
    #window_with_sliders
      #calc.container data-groups=@constructions.first.groups.keys
        = render "window_calc/construction" , construction: @constructions.first
    .row
      .col-md-2
      .col-md-5
        br
        label Примерная стоимость изделия: &nbsp;
        span#construction-cost.text-left 0
        span &nbsp; грн.
      .col-md-2
      .col-md-3
        br
        button#cost_btn.btn.btn-info Рассчитать стоимость


  #calc_right.col-md-3
    br
    br
    #calc_type
      .title Тип окна
      ul
        - @constructions.each do |i|
          li id=i.id
            = image_tag i.photo.photo, "data-id" => i.id
    = render "window_calc/form"
- else
  span Информация о стоимости обновляется...
  div style="height:420px"