#blog
  .container
    .section_header
      h3=t 'office.find'
      br
      br
      = render partial: 'blog/search_form'
    .row.post_row
      = render partial: 'blog/post', collection: @blogs
    = paginate @blogs if @blogs.num_pages > 1