#blog_post
  .container
    .section_header
      h3=t('office.page')
    .row
      .col-sm-8.office-lat-long data-cord="#{@blog.long}, #{@blog.lat}" data-desc=t('office.location')
        = render 'blog/google_map'
        #map-canvas.post_pic.img-responsive
        .post_content
          h2= @blog.name
          span.date #{l @blog.created_at.to_date, format: :long}
          p
            #{@blog.description}
          .author_box
            .author
              = "ЧП #{@blog.admin_user.try(:name)}"
        - if  @comments.size > 0
          .comments
            h4= t 'comment.comments'
            = render partial: 'blog/comment', collection: @comments
            = paginate(@comments) if  @comments.num_pages > 1
          br
        = render 'blog/comment_form'
      = render 'blog/sidebar' if @comments.size > 0
- content_for(:title)
  = "ЧП #{@blog.admin_user.try(:name)}"
