/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#map-canvas {
   height: 100%;
   margin: 0px;
   padding: 0px
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

input.amount {
  border: 0;
  color: #f6931f;
  font-weight: bold;
  display: inline;
  width: 40px
}

.inline {
  display:inline;
}

.construction-part {
  cursor: hand
}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 0.8em; cursor: default; }
.ui-slider-horizontal { height: .4em; }
.ui-slider-vertical { width: .4em; height: 100px; }


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.user_agreement{
  margin: 40px;
}


