.sidebar{
  .comment {
			margin-bottom: 60px;
			margin-top: 30px;

			&.reply_to {
				margin-top: -10px;
			}

			.author_pic {
			}

			.name {
				font-weight: bold;
				color: #3F3F3F;
				font-size: 14px;
			}

			a {
				&.reply {
					color: #1189D9;
					text-decoration: underline;
					margin-left: 20px;
					font-size: 14px;
					-webkit-transition: color .2s;
					-moz-transition: color .2s;
					-ms-transition: color .2s;
					transition: color .2s;

					&:hover {
						color: #252528;
					}
				}
			}

			.date {
				font-size: 13px;
				font-weight: bold;
				color: #747B85;
			}

			.response {
				margin-top: 10px;
				line-height: 22px;
				font-size: 14px;
			}
		}
}

#blog_post{
	margin-top: 70px;

	.section_header {
		input[type="text"] {
			float: right;
			margin-top: 9px;
			background: url('../../img/search.png') #fff no-repeat 5px;
			padding-left: 28px;
			width: 18%;
			border-radius: 5px;
		}
	}

	.post_pic {
		border: 7px solid #fff;
		border-radius: 5px;
		box-shadow:1px 1px 2px 1px rgb(207, 207, 207);
	}

	.post_content {
		margin-top: 40px;
		padding-bottom: 90px;
		border-bottom: 1px solid rgb(202, 202, 202);
		box-shadow: 0px 1px 0px 0px white;

		h2 {
			font-size: 32px;
			color: #3F3F3F;
			margin-bottom: 15px;
		}

		span {
			&.date {
				width: 100%;
				font-size: 14px;
				font-style: italic;
				margin-bottom: 42px;
				display: block;
				color: #9C9C9C;
			}
		}

		p {
			line-height: 24px;
			margin-bottom: 15px;
		}

		.author_box {
			margin-top: 50px;

			.author {
				margin-top: 45px;
				font-weight: bold;
				font-size: 15px;
				color: #1189D9;
			}

			.area {
				font-size: 15px;
				font-style: italic;
				margin-top: 5px;
				color: #9C9C9C;
			}
		}
	}

	.comments {
		margin-top: 3px;
		padding-top: 50px;
		border-bottom: 1px solid rgb(202, 202, 202);
		box-shadow: 0px 1px 0px 0px white;
		padding-bottom: 3px;

		h4 {
			font-size: 23px;
			margin-top: 0;
			margin-bottom: 25px;
		}

		.comment {
			margin-bottom: 60px;
			margin-top: 30px;

			&.reply_to {
				margin-top: -10px;
			}

			.author_pic {
			}

			.name {
				font-weight: bold;
				color: #3F3F3F;
				font-size: 14px;
			}

			a {
				&.reply {
					color: #1189D9;
					text-decoration: underline;
					margin-left: 20px;
					font-size: 14px;
					-webkit-transition: color .2s;
					-moz-transition: color .2s;
					-ms-transition: color .2s;
					transition: color .2s;

					&:hover {
						color: #252528;
					}
				}
			}

			.date {
				font-size: 13px;
				font-weight: bold;
				color: #747B85;
			}

			.response {
				margin-top: 10px;
				line-height: 22px;
				font-size: 14px;
			}
		}
	}

	/* new comment */
	.new_comment {
		padding-top: 30px;
		margin-top: 3px;

		h4 {
			font-size: 23px;
			color: #3F3F3F;
		}

		form {
			margin-top: 35px;

			input[type="text"] {
				border-radius: 3px;
			}

			textarea {
				margin-top: 20px;
			}

			a {
				&.send {
					float: right;
					color: #fff;
					border: 0 none;
					background: #187CCC;
					text-shadow: none;
					padding: 4px 15px 4px;
					box-shadow: none;
					text-transform: uppercase;
					font-size: 15px;
					font-weight: bold;
					margin-top: 15px;
					-webkit-transition: background linear .2s, box-shadow linear .2s;
					-moz-transition: background linear .2s, box-shadow linear .2s;
					-o-transition: background linear .2s, box-shadow linear .2s;
					transition: background linear .2s, box-shadow linear .2s;

					&:hover {
						background: #252528;
					}
				}
			}
		}
	}

	.sidebar {
		margin: 0;
		padding: 40px 19px 40px 28px;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 3px 1px rgb(207, 207, 207);
		float: right;

		.box {
			padding-bottom: 30px;
			overflow: hidden;
			margin-bottom: 40px;
			border-bottom: 1px solid rgb(216, 216, 216);
		}

		.last {
			border: 0 none;
			padding: 0;
			margin-bottom: 0;
		}

		.box {
			.recent {
				width: 100%;
				margin-bottom: 20px;
				float: left;

				span {
					img {
						float: left;
						margin-right: 10px;
					}
				}

				p {
					margin: 0;
					line-height: 18px;
					font-size: 13px;
				}
			}
		}

		.sidebar_header {
			margin-bottom: 20px;

			h4 {
				font-size: 19px;
				margin: 0;
			}
		}

		.sidebar_menu {
			list-style-type: none;
			margin-left: 0px;
			padding: 0;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 6px;

					a {
						color: #333;
						font-size: 14px;
						-webkit-transition: color .2s;
						-moz-transition: color .2s;
						-ms-transition: color .2s;
						transition: color .2s;

						&:hover {
							color: #1187D8;
						}
					}
				}
			}
		}

		.recent_posts {
			list-style-type: none;
			margin-top: 30px;
			margin-left: 0px;

			li {
				margin-bottom: 20px;
				font-size: 15px;
			}

			.thumb {
				border: 3px solid #fff;
				box-shadow: 0px 0px 1px 1px #bdbdbd;
			}

			a {
				&.link {
					color: #333;
					display: block;
					margin-top: 10px;

					&:hover {
						color: #87a46e;
						text-decoration: underline;
					}
				}
			}
		}

		ul {
			&.recent_photos {
				list-style-type: none;
				margin-left: 0px;
				padding: 18px 0 0 0;

				li {
					list-style: none;
					display: inline-block;
					margin-right: 14px;
					margin-bottom: 11px;

					a {
						img {
							max-width: 55px;
							border-radius: 3px;
						}
					}
				}
			}
		}
	}
}

/* Responsive
-------------------------------------------------- */
/* Large desktop */
@media (min-width: 1200px) {
	#blog_wrapper {
		.post {
			.info {
				width: 420px;
			}
		}
	}
}
@media (max-width: 767px) {
	#blog_wrapper {
		.header {
			hr {
				width: 70%;
			}
		}

		.post {
			.main_pic {
				display: block;
				margin: 0 auto;
			}
		}

		.sidebar {

			.recent_posts {
				.thumb {
					max-width: 100px;
				}
			}
		}
	}

	#blog_post {
		.sidebar {
			ul {
				&.recent_photos {
					li {
						margin-right: 15px;
					}
				}
			}
		}

		.new_comment {
			form {
				input[type="text"] {
					margin-top: 10px;
				}

				a {
					&.send {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#blog_wrapper {
		.sidebar {
			.search-query {
				width: 85%;
			}

			.box {
				.recent {
					p {
						font-size: 13px;
					}
				}
			}
		}
	}
}