/* Sign Up Option 1 */
#sign_up1 {
	background: url("../../img/backgrounds/ocean.jpg")  no-repeat;
	display: block;
	height: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.header {
		text-align: center;
		margin: 0;
		color: #fff;
		margin-top: 85px;

		h4 {
			font-size: 38px;
			margin-top: 0;
			margin-bottom: 25px;
			line-height: 38px;
			font-weight: 300;
			text-shadow: 1px 1px 0px #143C4E;
		}

		p {
			font-style: italic;
			font-size: 17px;
			margin: 0 0 40px 0;
		}

		.social {
			margin: 0 auto 28px;
			float: none;
			text-align: center;

			a {
				&.circle {
					text-align: center;
				    width: 56px;
				    height: 56px;
				    border-radius: 100%;
				    margin-right: 25px;
				    display: inline-block;
				    -webkit-transition: border-color ease-in .1s;
				    -moz-transition: border-color ease-in .1s;
				    -o-transition: border-color ease-in .1s;
				    transition: border-color ease-in .1s;

				    &:hover {
				    	border-color: rgb(255, 255, 255);
				    }

				    img {
				    	display: inline-block;
    					margin-top: 13px;
				    }
				}

				&.facebook {
					border:2px solid #233678;
					background: #233678;
				}

				&.twitter {
					border:2px solid #54AEE1;
    				background: #54AEE1;
				}

				&.gplus {
					border:2px solid #292929;
				    background: #292929;
				    margin: 0;
				}


			}
		}
	}

	.division {
		margin: 0 auto 50px;
		float: none;
		overflow: hidden;
		position: relative;
		text-align: center;

		.line {
			border-top: 1px solid rgb(104, 167, 196);
			width: 34%;
			top: 10px;
			position: absolute;
		}

		.l {
			left: 0;
		}

		.r {
			right: 0;
		}

		span {
			color: #fff;
			font-size: 17px;
		}
	}

	.footer {
		form {
			margin: 0 0 46px 0;
		}

		input[type="text"], input[type="password"] {
			border-radius: 3px;
			font-size: 16px;
			height: 35px;
			margin: 0 10px 0px 0;
			color: black;
			width: 27%;
			margin-top: -4px;
		}

		input[type="submit"] {
			text-transform: uppercase;
			color: #fff;
			background: #187CCC;
			font-size: 15px;
			padding: 8px 18px;
			border: 0 none;
			border-radius: 3px;
			-webkit-transition: background linear .2s, box-shadow linear .2s;
			-moz-transition: background linear .2s, box-shadow linear .2s;
			-o-transition: background linear .2s, box-shadow linear .2s;
			transition: background linear .2s, box-shadow linear .2s;

			&:hover {
				background: #252528;
			}
		}
	}

	.remember {
		label {
			&.checkbox {
				float: left;
				font-weight: bold;
				width: 30%;
				font-size: 14px;
				color: #fff;
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		a {
			color: #fff;
			font-size: 14px;
			border-bottom: 1px solid white;
			font-weight: bold;
		}
	}

	.dosnt {
		text-align: center;
		color: #fff;
		font-size: 14px;

		span {
			margin-right: 8px;
		}

		a {
			color: #fff;
			border-bottom: 1px solid white;

			&:hover {
				color:#252528;
				border-color: #252528;
			    -webkit-transition: all .2s;
			    -moz-transition: all .2s;
			    -ms-transition: all .2s;
			    transition: all .2s;
			}
		}
	}

	.remember {
		a {
			&:hover {
				color:#252528;
				border-color: #252528;
			    -webkit-transition: all .2s;
			    -moz-transition: all .2s;
			    -ms-transition: all .2s;
			    transition: all .2s;
			}
		}
	}
}

/* Sign Up Option 2 */
#sign_up2 {
	.section_header {
		margin-bottom: 50px;

		h3 {
			margin: 0;

			span {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}

	.left_box {
		color: #252527;

		h4 {
			margin: 20px 0 40px 0;
			line-height: 43px;
			font-size: 38px;
			font-weight: 300;
		}

		.perk_box {
			float: left;
			width: 100%;

			.perk {
				width: 100%;
				color: #727276;
				margin-bottom: 31px;

				.icos {
					float: left;
					margin-right: 16px;
					width: 28px;
					height: 46px;
				}

				.ico1 {
					background-position: 4px 6px;
				}

				.ico2 {
					background-position: -35px 14px;
				}

				.ico3 {
					background-position: -69px 7px;
				}

				p {
					font-size: 15px;

					strong {
						color: #333;
					}
				}
			}
		}
	}

	a {
		&.btn_sign {
			text-transform: uppercase;
			color: #FDFDFD;
			font-size: 15px;
			border-radius: 4px;
			background: #333333;
			font-weight: bold;
			text-align: center;
			margin: 0 auto;
			width: 25%;
			display: block;
			padding: 6px 0 6px;
			-webkit-transition: background linear .2s, box-shadow linear .2s;
			-moz-transition: background linear .2s, box-shadow linear .2s;
			-o-transition: background linear .2s, box-shadow linear .2s;
			transition: background linear .2s, box-shadow linear .2s;

			&:hover {
				background: #252528;
			}
		}
	}

	.icos {
		background: url('../../img/signin_icos.png') no-repeat;
		width: 96px;
		height: 30px;
	}

	.signin_box {
		float: right;

		.box {
			float: right;
			box-shadow: 0 0 5px 0 rgb(238, 238, 238);
			background: white;
			border:1px solid #DFDFDF;
			border-radius: 5px;
			width: 90%;
			padding: 35px 0 30px;

			.box_cont {
				margin: 0 auto;
				width: 77%;
			}

			.social {
				margin: 0 auto 20px;
				float: none;
				text-align: center;

				a {
					&.circle {
						text-align: center;
					    width: 56px;
					    height: 56px;
					    border-radius: 100%;
					    margin-right:34px;
					    display: inline-block;
					    -webkit-transition: border-color ease-in .1s;
					    -moz-transition: border-color ease-in .1s;
					    -o-transition: border-color ease-in .1s;
					    transition: border-color ease-in .1s;

					    &:hover {
					    	border-color: rgba(0,0,0,0.7);
					    }

					    img {
					    	display: inline-block;
    						margin-top: 15px;
					    }
					}

					&.facebook {
						background: #233678;
    					border:2px solid #233678;
					}

					&.twitter {
						background: #54AEE1;
    					border:2px solid #54AEE1;
					}

					&.gplus {
						background: #292929;
					    border:2px solid #292929;
					    margin: 0;
					}
				}
			}

			.division {
				margin: 0 auto 18px;
				float: none;
				overflow: hidden;
				width: 100%;
				position: relative;
				text-align: center;

				.line {
					border-top: 1px solid #DFDFDF;
					width: 34%;
					top: 10px;
					position: absolute;
				}

				.l {
					left: 0;
				}

				.r {
					right: 0;
				}

				span {
					color: rgb(66, 66, 66);
					font-size: 17px;
				}
			}

			.form {
				form {
					margin: 0;
				}

				input[type="text"] {
					border-radius: 3px;
					font-size: 16px;
					margin-bottom: 16px;
					height: 37px;
					color: black;
				}

				input[type="submit"] {
					text-transform: uppercase;
					color: #fff;
					background: #187CCC;
					font-size: 15px;
					margin: 0 auto;
					display: block;
					padding: 6px 19px;
					border: 0 none;
					border-radius: 3px;
					-webkit-transition: background linear .2s, box-shadow linear .2s;
					-moz-transition: background linear .2s, box-shadow linear .2s;
					-o-transition: background linear .2s, box-shadow linear .2s;
					transition: background linear .2s, box-shadow linear .2s;

					&:hover {
						background: #252528;
					}
				}

				.forgot {
					margin-left: 0;
					margin-bottom: 20px;
					width: 100%;
					color: #797979;
					text-align: center;
					overflow: hidden;

					span {
						margin-right: 5px;
					}

					a {
						color: #797979;
						font-size: 13px;
						border-bottom: 1px solid #797979;
						font-weight: bold;
					    -webkit-transition: all .2s;
					    -moz-transition: all .2s;
					    -ms-transition: all .2s;
					    transition: all .2s;

					    &:hover {
					    	color: #187CCC;
							border-color: #187CCC;
					    }
					}
				}
			}
		}
	}
}

/* Responsive
-------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {
	#sign_up1 {
		.header {
			.social {
			}
		}

		.footer {
			input[type="text"], input[type="password"] {
				width: 25%;
			}
		}
	}

	#sign_up2 {
		.left_box {
			.perk_box {
				.perk {
					.icos {
						height: 66px;
					}
				}
			}
		}

		.signin_box {
			.box {
				.social {
					a {
						&.circle {
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#sign_up1{
		background: none;
		height: auto;

		.header {
			h4 {
				color: #333;
				line-height: 35px;
				text-shadow:none;
			}

			p {
				line-height: 24px;
				color: #333;
			}
		}

		.division {
			span {
				color: #333;
			}

			.line {
				display: none;
			}
		}

		.footer {
			input[type="text"], input[type="password"] {
				font-size: 13px;
				width: 97%;
				margin-bottom: 12px;
			}

			input[type="submit"] {
				margin: 10px auto 0;
				display: block;
			}
		}

		.dosnt {
			float: left;

			span {
				margin-left: 0;
				color: #333;
				border-color: #333;
				float: left;
			}

			a {
				color: #333;
				border-color: #333;
				float: left;

				&:hover {
					color: #187CCC;
					border-color: #187CCC;
				}
			}
		}
	}

	#sign_up2 {
		.left_box {
			overflow: hidden;
			margin-bottom: 70px;

			h4 {
				text-align: center;
				margin-bottom: 30px;
			}
		}

		.signin_box {
			float: none;

			.box {
				float: none;
				margin: 0 auto;
				width: 100%;
			}
		}
	}
}

@media (max-width: 480px) {
}
