#calc_right {
	width: 233px;
	margin-top: -21px;
}
#calc_right #calc_type .title {
	text-transform: none;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: normal;
}
#calc_right #calc_type ul {
	margin: 0px;
	padding: 0px;
	text-align: justify;
	width: 245px;
	margin-left: -6px;
	margin-bottom: 3px;
}
#calc_right #calc_type li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
#calc_right #calc_type li:nth-child(9), #calc_right #calc_type li:nth-child(10), #calc_right #calc_type li:nth-child(11), #calc_right #calc_type li:nth-child(12) {
	margin-top: -1px;
}
#calc_right #calc_type li:nth-child(13), #calc_right #calc_type li:nth-child(14), #calc_right #calc_type li:nth-child(15), #calc_right #calc_type li:nth-child(16) {
	margin-top: -3px;
}
#calc_right #calc_type li:nth-child(17) {
	margin-top: -9px;
}
/************korekcia list***************/
#calc_right #calc_type li:nth-child(2)
{
	margin-left: 1px;
}
#calc_right #calc_type li:nth-child(4)
{
	margin-left: 1px;
}
#calc_right #calc_type li:nth-child(5)
{
	margin-left: 2px;
}
#calc_right #calc_type li:nth-child(7)
{
	margin-left: 4px;
}
#calc_right #calc_type li:nth-child(8)
{
	margin-left: 4px;
}
#calc_right #calc_type li:nth-child(10)
{
	margin-left: 6px;
}
#calc_right #calc_type li:nth-child(11)
{
	margin-left: 6px;
}
#calc_right #calc_type li:nth-child(12)
{
	margin-left: 5px;
}
#calc_right #calc_type li:nth-child(14)
{
	margin-left: 7px;
}
#calc_right #calc_type li:nth-child(15)
{
	margin-left: 7px;
}
#calc_right #calc_type li:nth-child(16)
{
	margin-left: 8px;
}
/****************************************/
#calc_right #calc_type li img {
	margin: 8px;
}
#calc_right #calc_type li:nth-child(16) img, #calc_right #calc_type li:nth-child(17) img {
	border: none;
	margin: 7px;
}
#calc_right #calc_type li img:hover {
	box-shadow: 0px 0px 6px #52bbf9;
	margin: 6px;
}
#calc_right #calc_type li:nth-child(16) img:hover, #calc_right #calc_type li:nth-child(17) img:hover {
	box-shadow: none;
	margin: 7px;
}
#calc_right #calc_type li.active img {
	border: 2px solid #0055a5;
	margin: 5px;
}
#calc_right #calc_type li:nth-child(16).active img, #calc_right #calc_type li:nth-child(17).active img {
	border: none;
	margin: 7px;
}

/*select*/
#calc_right  .calc_config fieldset{
	margin: 0px;
	padding: 0px;
	border: none;
	margin-bottom: 14px;
}
#calc_right  .calc_config ul {
	display: none;
	position: absolute;
	background: #FFF;
	border: 1px solid #0082d0;
	list-style-type: none;
	padding: 4px;
	margin: 0px;
	min-width: 200px;
	margin-top: 1px;
	box-shadow: 4px 4px 4px #bbbbbb;
}
#calc_right  .calc_config ul li {
	border-bottom: 1px solid #0082d0;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	height: 16px;
	font-size: 11px;
	line-height: 16px;
	color: #6d6e71;
}
#calc_right  .calc_config ul li:last-child {
	border-bottom: none;
}
#calc_right  .calc_config ul li:hover, #calc_right  .calc_config ul li.active {
	cursor: pointer;
	/*background: #0082d0;*/
	color: #1db2f7;
}
#calc_right  .calc_config span {
	width: 190px;
	height: 16px;
	display:block;
	padding: 3px 37px 3px 7px;
	font-size: 11px;
	line-height: 16px;
	color: #6d6e71;
	margin-top: 2px;
	cursor: pointer;
	overflow: hidden;
}
#calc_right  .calc_config label{
	font-weight: bold;
}

.calc_config {
	margin-top:16px;
}