html {
	margin: 0;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif !important;
	padding-top: 80px;
	line-height: 20px;

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Lato', sans-serif !important;
		font-weight: bold;
		color: inherit;
		text-rendering: optimizelegibility;
	}

	h1,h2,h3 {
		line-height: 40px;
	}

	h2 {
		font-size: 31.5px;
	}
}
a:hover {
	text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
	font-family: 'Lato', Helvetica;
}

body {
	&.pull_top {
    	padding-top: 0px !important;
	}
}
header {
    background: rgba(0,0,0,.6) !important;
}

/* Navbar
-------------------------------------------------- */
.navbar {
	padding: 10px 0px 10px 0px;

	&.navbar-inverse {
		background: rgba(0,0,0,0.4);
		border-bottom: 1px solid rgb(88, 88, 88);

		&.navbar-static-top {
			background-color: #252528;

			.container {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.nav {
			>li {
				>a {
					font-size: 13px;
				    font-weight: bold;
				    color: #fff;
				    text-shadow: 0 1px 0 rgba(0,0,0,.5);
				    opacity: .6;
				    filter: alpha(opacity=60);
				    -webkit-transition: all .2s linear;
				    -moz-transition: all .2s linear;
				    transition: all .2s linear;
				    padding: 10px 15px 10px;
				    text-decoration: none;

				    &:hover, &:active {
						color: #fff;
						opacity: 1;
						filter: alpha(opacity=100);
				    }
				}

				&.active {
					>a {
						color: #fff;
						opacity: 1;
						filter: alpha(opacity=100);
						background-color: transparent;
					}
				}
			}
		}
	}

	&.sticky {
		background: rgba(0,0,0,0.8);
		border-bottom: 1px solid #252525;
		.container {
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
	}

	.container {
		margin-top: 10px;
		margin-bottom: 0px;
		-webkit-transition: margin .2s ease-in-out;
		-moz-transition: margin .2s ease-in-out;
		transition: margin .2s ease-in-out;

		.navbar-header {
			.navbar-brand {
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
				font-size: 20px;
				margin-left: -20px;
				padding: 10px 20px 10px;
			}
		}

		.collapse {
			.nav {
				.dropdown {
					.caret {
						margin-bottom: 4px;
					}

					.dropdown-menu {
						background: #252528;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						border-radius: 6px;
						margin-top: 2px;

						>li {
							>a {
								color: #fff;

								&:hover {
									background: #08c;
								}
							}
						}
					}
				}
			}
		}
	}
}

.section_header {
	width: 100%;
	margin-bottom: 60px;

	h3 {
		color: rgb(100, 100, 100);
		font-weight: 300;
		font-style: italic;
		font-size: 27px;
		border-bottom: 1px solid #b3b3b3;
		padding-bottom: 0px;
		display: inline-block;
		margin:0;
	}
}


/* Footer
-------------------------------------------------- */
#footer {
    position:absolute;
    bottom:0;
    width:100%;
	background-color: #252528;
	color: #fff;

	.footer_header {
		color: rgb(196, 196, 196);
		font-style: italic;
		font-weight: 300;
		font-size: 25px;
		margin-bottom: 40px;
		margin-left: 15px;
	}

	.recent_posts {
		margin-left: 0px;

		.post {
			margin-bottom: 70px;
			width: 93%;

			img {
				float: left;
				margin-right: 20px;
			}

			.date {
				font-weight: bold;
				font-style: italic;
			}

			.title {
				display: block;
				color: #b5b5b6;
				font-size: 14px;
			}
		}
	}

	/* testimonials */
	.testimonials {
		.wrapper {
			margin: 0 auto;
			width: 82%;
		}

		.footer_header {
			margin-left: 30px;
		}

		.quote {
			color: rgb(191, 191, 192);

			span {
				font-size: 32px;
				font-style: italic;
				position: relative;
				top: 5px;
				font-family: Georgia !important;
				float: left;
				margin-right: 8px;
			}
		}

		.author {
			margin-top: 40px;

			img {
				float: left;
				margin-right: 15px;
				position: relative;
				top: -6px;
			}
		}

		.name {
			font-size: 13px;
			font-weight: bold;
		}

		.info {
			font-style: italic;
			color: #ccc;
		}
	}

	/* contact */
	.contact {
		text-align: right;

		.footer_header {
			text-align: left;
			margin-left: 35px;
		}

		input[type="text"], textarea {
			border: none;
			background-color: #1f1f21;
			color: #868687;
			padding: 8px 20px;
			border-radius: 3px;
			font-size: 14px;
			font-family: Lato !important;
			width: 95%;
			-webkit-transition: background-color .2s linear;
			-moz-transition: background-color .2s linear;
			margin-bottom: 10px;

			&:focus {
				border: none;
				box-shadow: none;
				background-color: #000;
			}

			&:moz-placeholder {
				color: #868687;
			}

			&::-webkit-input-placeholder {
				color: #868687;
			}

			&:-ms-input-placeholder {
				color: #868687;
			}
		}

		input[type="submit"] {
			background-color: #3e3e40;
			border: none;
			color: #fff;
			border-radius: 4px;
			padding: 5px 20px;
			font-size: 14px;
			font-weight: bold;
			-webkit-transition: background-color .2s linear;
			-moz-transition: background-color .2s linear;

			&:hover {
				background-color:#2190DB;
			}
		}
	}

	/* credits */
	.credits {
		border-top: 1px solid #343437;
		padding: 10px 0px 60px 0px;

		.social {
			margin-top: 30px;
			text-align: center;

			a {
				margin: 10px;

				span {
					display: inline-block;
					width: 33px;
					height: 33px;

					&.ico1, &.icoh {
						background-position: 0px 0px;
					}

					&.ico2, &.ico2h {
						background-position: -37px 0px;
					}

					&.ico3, &.ico3h {
						background-position: -75px 0px;
					}

					&.ico4, &.ico4h {
						background-position: -112px -1px;
					}

					&.ico5, &.ico5h {
						background-position: -151px 0px;
					}

					&.ico6, &.ico6h {
						background-position: -188px -1px;
					}

					&.ico7, &.ico7h {
						background-position: -226px 0px;
					}
				}

				&:hover {
					span {
						&.socialicons {
							display: none;
						}

						&.socialicons_h {
							display: inline-block !important;
						}
					}
				}
			}

			span {
				&.socialicons_h {
					display: none;
				}
			}
		}

		.copyright {
			color: #a6a6a7;
			font-style: italic;
			text-align: center;
			margin-top: 30px;
		}

		.socialicons {
			background: url('../../img/socialicons.png') no-repeat;
			width: 265px;
			height: 36px;
		}

		.socialicons_h {
			background: url('../../img/socialicons_h.png') no-repeat;
			width: 265px;
			height: 36px;
		}
	}

	/* inner footer */
	.info {
		margin-bottom: 10px;
		margin-left: 0;

		.residence {
			margin-left: 0;
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				font-size: 16px;
				color: #777E83;
				line-height: 23px;
			}

			a {
				color: #777E83;
				-webkit-transition: color .2s;
				-moz-transition: color .2s;
				-ms-transition: color .2s;
				transition: color .2s;

				&:hover {
					color: #A9B4BB;
				}
			}
		}

		.touch {
			float: right;

			ul {
				li {
					display: inline-block;
					margin-left: 22px;
				}
			}
		}
	}
}

/* Global
-------------------------------------------------- */
.page_header {
	background-color: #000;
	color: #fff;
	font-size: 23px;
	display: inline-block;
	padding: 0px 18px;
}
.social_icon {
	background: url("../../img/social_icons.png") no-repeat;
	width: 110px;
	height: 18px;
}
.contact_social {
	background: url("../../img/contact_social.png") no-repeat;
	width: 180px;
	height: 34px;
}


/* Responsive
-------------------------------------------------- */

@media (max-width: 991px) {
	body { padding-top: 0 !important; }

	.navbar {
		&.navbar-inverse {
			background: #252528;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar {
		margin-bottom: 0;

		&.transparent {
			&.navbar-fixed-top {
				margin-bottom: -70px;
				position: relative;
				top: 999;
			}
		}

		&.home {
			&.navbar-fixed-top {
				margin-bottom: -70px;
				position: relative;
				top: 999;
			}
		}
	}
}

@media (max-width: 767px) {

	.navbar {
		&.navbar-inverse {
			.container {
				.navbar-header {
					.navbar-brand {
						margin-left: -5px;
					}
				}
			}
		}

		.navbar-nav {
			.open {
				.dropdown-menu {
					>li {
						>a {
							line-height: 25px;
							font-weight: bold;
							padding: 5px 15px 5px 35px;
						}
					}
				}
			}
		}
	}

	#footer {
		.container {
			padding: 0px 20px;
		}

		.footer_header {
			margin-left: 0;

			h3 {
				margin-left: 0;
			}
		}

		.testimonials {
			overflow: hidden;
			margin-bottom: 40px;

			.footer_header {
				margin-left: 0;
			}

			.wrapper {
				float: left;
				width: 100%;
			}
		}

		.contact {
			margin: 0;

			.footer_header {
				margin-left: 0;
			}

			input[type="text"], textarea {
				float: left;
				width: 100%;
			}
		}

		.info {
			.touch {
				float: none;

				ul {
					margin:15px 0 15px;

					li {
						margin: 0 30px 0 0;
					}
				}
			}
		}

		.credits {
			margin-top: 20px;
		}
	}

}


