.row
  .col-md-2
  - construction.groups.each do |k,v|
    = render "window_calc/height_slider" , group: k, value: v if k == construction.groups.keys.first
    - v.each do |p|
      = render "window_calc/part" , part: p
    = render "window_calc/height_slider" , group: k, value: v if k == construction.groups.keys.last && construction.groups.size > 1
.row
  .col-md-3
  - construction.groups.each do |k,v|
    = render "window_calc/width_slider" , group: k, value: v