.calc_config
  fieldset#profil
    div: label Профиль
    = select_tag "profile", options_for_select(PriceList::PROFILE.map{ |el| [el.capitalize, el] }), include_blank: false, class: "form-control"
  fieldset#steklopaket
    div: label Стеклопакет
    = select_tag "window", options_for_select(PriceList::WINDOWS.map{ |el| [el.capitalize, el] }), include_blank: false, class: "form-control"
  fieldset#furnitura
    div: label Фурнитура
    = select_tag "findings", options_for_select(PriceList::FINDINGS.map{ |el| [el.capitalize, el] }), include_blank: false, class: "form-control"
  /fieldset#podokonnik
  /  div: label Подоконник
  /  select
  /    - 1.upto(12) do |i|
  /      option value="#{i * 10}"=i * 10
  /fieldset#otliv
  /  div: label Отлив
  /  select
  /    - 1.upto(7) do |i|
  /      option value="#{i * 10}"=i * 10
  /fieldset#dver_nuz
  /  label Заполнение низа
  /  input type="checkbox" value="0"
