.col-md-1.nopadding
  = image_tag image_to_base64("alt/#{ part.type_image }"), class: "img-responsive window_img window construction-part", "data-next" => 0, "data-type" => part.part_type.downcase, "data-kind" => part.data_kind, "data-group" => part.group, "style" => "pointer: hand", "data-toggle" =>"tooltip" , "title" => "Нажми левым щелчком мыши на конструкцию."