.text-center.nopadding class="col-md-#{value.size} slider_w-#{group}"
  br
  .slider id="slider_w-#{group}"
    .max.hide=value.sum(&:max_width)
    .min.hide=value.sum(&:min_width)
  div
    input.amount type="text"