li data-id="edit_link" data-button=@ntip
	p #{@s} редактировать параметры офиса.
li data-class="action_item" data-button=@ntip
	p #{@s} добавить новый офис
li data-id="blog_name" data-button=@ntip
  p Это название офиса будет отображаться для пользовалетей.
li data-id="blog_description" data-button=@ntip
  p Это описание офиса будет показано пользователям. Здесь лучше всего указать адрес и дополнительныую информацию телефон, время работы и так далее..
li data-id="blog_lat" data-button=@ntip
  p
    | Это координата широты вашего офиса на карте. Для его определения можно воспользоваться GPS или этим ресурсом &nbsp;
    a href="http://api.yandex.ru/maps/tools/getlonglat/" target="_blank" Узнать координаты по адресу.
li data-id="blog_long" data-button=@ntip
  p
    | Это координата долготы вашего офиса на карте.
    a href="http://api.yandex.ru/maps/tools/getlonglat/" target="_blank" Узнать координаты по адресу.
li data-id="blog_city_id" data-button=@ntip
  p Город в котором расположен ваш офис. Пользователи будут находить его с помощью фильтра.
li data-id="blog_factory_id" data-button=@ntip
  p Завод с которым работает ваш офис. По умолчанию стоимость окон будет расчитываться по стоимости завода.
li data-id="blog_photo_attributes_file" data-button=@ntip
  p Фото вашего офиса. Подберите фото характиризующее ваш офис. Будет отображаться для пользователей.
li data-id="price_lists_link" data-button=@ntip
  p #{@s} добавить прайсы для офиса из программы Курбацкого. По ним будет рассчитываться стоимость изделий вместо стоимости по умолчанию(от завода).
li data-id="blog_submit_action" data-button=@ntip
	p #{@s} обновить данные офиса, при ошибке в полях следуйте рекомендациям которые написаны красным тестом.