- ntip="Следующая подсказка"
- s = "Нажав на эту ссылку можно"
a.btn#help_guide  Помощь
ol#joyRideTipContent style="display:none"
  li data-id="admin_users" data-button=ntip
    p #{s} assssssss
  li.custom data-class="edit_link"  data-text=ntip
    p  #{s} редактировать имя, электронную почту и пароль своего аккаунта менеджера.
  li data-id="blogs" data-button=ntip
    p #{s} создать и редактировать виртуальный офис менеджера.

render partial: "init_guide"