= render partial: 'guides/base'
ol#joyRideTipContent style="display:none"
  li data-id="price_list_window_type" data-button=@ntip
    p Тип окна поворотно-откидное(tilt-swivel), поворотное(swivel), глугое(deaf)
  li data-id="price_list_findings" data-button=@ntip
    p Если окно глугое(deaf), фурнитуру можно не указывать.
  li data-id="price_list_files" data-button=@ntip
    p
     | Для загрузки нескольких файлов без указания всех параметров нужно правильно их назвать. Напрмер: tilt-swivel_Lider_4-24-4_Maco.xls означает что выбрана поворотно-откидная фурнитура Maco, профиль Lider, стеклопакет 4-24-4