#calc
  .row
    .col-md-2
      .slider_w-h
        #slider_w-h.pull-right
          .min.hide 1300
          .max.hide 1600
        div
          span
            input.amount
            span мм
            label высота окна
    .col-md-5.nopadding
      = image_tag "#{@window_id}_window_l.png", class: "img-responsive pull-right window_img"
    .col-md-2.nopadding
      = image_tag "#{@window_id}_window.png", class: "img-responsive pull-left door_img"
    .col-md-2.slider_d-h
      #slider_d-h
        .max.hide 2300
        .min.hide 2050
      div
        span
          input.amount
          span мм
          label высота двери
  .row
    .col-md-2
    .col-md-5.text-center.slider_w-w.nopadding
      #slider_w-w.pull-right
        .max.hide 2050
        .min.hide 1300
      div.pull-right
        span
          input.amount type="text"
          span мм
          br
          label ширина окна

    .col-md-2.slider_d-w.nopadding.text-center
      #slider_d-w
        .max.hide 2050
        .min.hide 1300
      div
        span
          input.amount type="text"
          span мм
          label ширина двери
    .col-md-2