footer#footer
  .container
    .row.text-center
      .col-md-12
        strong
          | Developed by &nbsp;
          a href="http://about.me/kutskosergey" Sergey Kutsko
    .row.text-center
      .col-md-12
        | © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.