.navbar.navbar-inverse.navbar-fixed-top role="navigation"
  .container
    .navbar-header
      button.navbar-toggle.pull-right data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href=root_path
        strong
           = content_for?(:title) ? yield(:title) : t('header.corpa_system')
    .collapse.navbar-collapse.navbar-ex1-collapse role="navigation"
      ul.nav.navbar-nav.navbar-right.nav-tabs
        li: a  href=root_path =t('header.home')
        li: a  href="#" =t('header.about')
        li= link_to t('header.blog'), blog_index_path
        - unless current_user
          li = link_to t('header.sign_up'), new_user_registration_path
          li = link_to t('header.sign_in'), new_user_session_path
        - else
          li: a= current_user.name
          li= link_to t('header.sign_out'), destroy_user_session_path(params: { authenticity_token: form_authenticity_token }), method: :delete
        li= link_to t('header.user_agreement'), user_agreement_path