html
  head
    meta charset="utf-8"
    meta name="viewport" content="initial-scale=1.0, user-scalable=no"

    title Corpо System

    script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"

    link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"

    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"

  body
    = flash[:info]
    = render 'layouts/header'
    .container-fluid style="padding-left: 0px; padding-right: 0px;"
     = yield
    br
    br
    br
    br
    br
    = render 'layouts/footer'